.detailPage {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 10px;
    background-color: #262830;
    border: 2px solid #323540;
    border-radius: 24px;

    &__linkBackInCatalog {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 15px;
        background-color: #CE1A30;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 10px;

        &::before {
            content: '<'
        }
    }

    &__description {
        color: #fff;
    }
}