.paginationListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #262830;
    color: #fff;
    border: none;
    cursor: pointer;
}

.paginationListItem.active {
    background-color: #CE1A30;
}